/* General */

html {
    scroll-behavior: smooth;
}

/* Sections */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: block;
    max-width: 1600px !important;

}

footer {
    bottom: 0;
    width: 100%;
}


/* BUTTONS */
button {
    background-color: #0099FF !important;
    color: #FFFFFF !important;
}

/* LI */
li {
    list-style: none;
}

/* IMG */
#logo {
    max-width: 90px;
}

#historias-img-1 {
    object-fit: cover;
}

#historias-img-2 {
    max-width: 300px;
}


#historias-img-1 {
    object-fit: cover;
}

/* BORDERS */
.margin-top-solid {
    border-top: 1px solid #929292;
}

.no-border-card {
    border-style: none !important;
}

.blur-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Margins */
.small-margin-bottom {
    margin-bottom: 0.2rem;
}

/* COLORS */
.dark-blue-background {
    background-color: #034663 !important;
}

.grey-background {
    background-color: #e9eaec;
}

.white-color {
    color: #FFFFFF !important;
}

.cyan-color {
    color: #0099FF;
}

.dark-pink-color {
    color: #B287A3;
}

.cyan-card {
    background-color: #0099FF;
}


/* Donations grafic */
#chartdiv {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -5px #888888;
}

/* card overlaped to the img */
.card_overlap {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    bottom: 20px;
    margin: auto;
}

/* mis donaciones card*/
/* #misDonacionesCard {
    background-image: linear-gradient(180deg, #034663, #0099FF);
} */

/* ---------------------------------------------------------- */
/* MEDIA QUERYS */
@media (min-width: 576px) and(min-height: 700px) {
    .position-sm-static {
        position: static !important;
    }

    .position-sm-relative {
        position: relative !important;
    }

    .position-sm-absolute {
        position: absolute !important;
    }

    .position-sm-fixed {
        position: fixed !important;
    }

    .position-sm-sticky {
        position: sticky !important;
    }
}

@media (min-width: 768px) and (min-height: 700px) {
    .position-md-static {
        position: static !important;
    }

    .position-md-relative {
        position: relative !important;
    }

    .position-md-absolute {
        position: absolute !important;
    }

    .position-md-fixed {
        position: fixed !important;
    }

    .position-md-sticky {
        position: sticky !important;
    }
}
